numpy
flwr
torch
torchvision
torchmetrics
imgaug 
torchsummary
pandas
scikit-image==0.19.3
scikit-learn==1.0.2
glob2
timm
requests
mlflow
1.0.5<=pytorch-lightning<=1.6.4
pysftp
pytorch-lightning-bolts
